.center-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Красные полосы */
.red-line {
  width: 100%;
  height: 60px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.top {
  margin-bottom: 30px;
}

.bottom {
  margin-top: 30px;
}
